<% willreads.each do |willread| %>
 <div class="uk-child-width-1-2@m" uk-grid>
   <div>
    <div class="uk-card uk-card-default">
      <div class="uk-card-media-top">
        <%= image_tag willread.image.url %>
      </div>
      <div class="uk-card-body">
        <h3 class="uk-card-title"><%= willread.title %></h3>
        <P><%= willread.details %></p>
      </div>
      <div class="uk-card-footer">
        <a class="uk-button uk-button-default"><%= link_to '詳細画面へ', willread_path(willread.id) %></a>

      </div>
    </div>
   </div>
 </div>
<% end %>