<div class="uk-child-width-1-2@m" uk-grid>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <%= image_tag @read.image.url %>
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title"><%= @read.title %></h3>
                <p><%= @read.details %></p>
            </div>
        </div>
    </div>
</div>    
