<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/">YourBookshelf</a></li>
            <li><a href="#">About</a></li>
              <li>
                <a href="#">User</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><%= link_to 'Sign up', sigunup_path, class: 'nav_link' %></li>
                        <li><a href="#">Sign in</a></li>
                    </ul>
                </div>
             </li>

            <li>
              <div class="uk-navbar-item">
                <form class="uk-search uk-search-default">
                   <span uk-search-icon></span>
                   <input class="uk-search-input" type="search" placeholder="Search...">
                </form>
              </div>
            </li>
        </ul>

    </div>
</nav>